<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>实验模块设置</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../../static/css/font.css">
        <link rel="stylesheet" href="../../static/css/layui.css">
        <link rel="stylesheet" href="../../static/css/xadmin.css">
<!--        <script type="text/javascript" src="../../static/js/layui.js" charset="utf-8"></script>-->
<!--        <script type="text/javascript" src="../../static/js/xadmin.js"></script>-->
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->

    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" th:action="@{|/studentManage/editStudent/${stu.id}|}" method="post" th:object="${stu}">
                  <div class="layui-form-item">
                      <div class="layui-form-item">
                          <label for="uName" class="layui-form-label">
                              <span class="x-red">*</span>账号
                          </label>
                          <div class="layui-input-inline">
                              <input type="text"  name="stu_uname" required=""
                                     autocomplete="off" class="layui-input" th:value="${stu.stuUname}" onblur="checkuName()" id="uName">
                              <div id="msg" style="color: red;font-size:18px;width: 100%;height:5%;text-align: center"></div>

                          </div>

                      </div>
                      <label for="username" class="layui-form-label">
                          <span class="x-red">*</span>姓名
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="username" name="stu_name" required="" lay-verify="required"
                          autocomplete="off" class="layui-input" th:value="${stu.stuName}">
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="xuehao" class="layui-form-label">
                          <span class="x-red">*</span>学号
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" name="stu_xuehao" required=""
                          autocomplete="off" class="layui-input" th:value="${stu.stuXuehao}" id="xuehao" onblur="checkxuehao()">
                          <div id="msg1" style="color: red;font-size:18px;width: 100%;height:5%;text-align: center"></div>

                      </div>

                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">班级</label>
                        <div class="layui-input-inline">
                            <select name="classid">
                                <span th:if="${stu.classid eq 0}">
                                      <option disabled="disabled" value="0"  selected="selected" >该学生暂未分班</option>
                                </span>
                                <span th:each="c:${class}" th:if="${stu.classid ne 0}">
                                <option  th:value="${c.classId}" th:text="${c.className}" th:selected="${stu.classid eq c.classId?true:false}"></option>
                                </span>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">是否本校</label>
                        <div class="layui-input-block">

                        <input type="radio" name="stuIsinschool" value='0'th:field="${stu.stuIsinschool}"   title="否">
                        <input type="radio" name="stuIsinschool" value='1' th:field="${stu.stuIsinschool}" title="是">

                        </div>


                    </div>
                  <div class="layui-form-item">
                      <label for="L_pass" class="layui-form-label">
                          <span class="x-red">*</span>密码
                      </label>
                      <div class="layui-input-inline">
                          <input type="password" id="L_pass" name="stu_password" required="" lay-verify="pass"
                          autocomplete="off" class="layui-input" th:value="${stu.stuPassword}">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          6到16个字符
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label class="layui-form-label">
                      </label>
                      <input type="submit" class="layui-btn"  lay-filter="add" lay-submit="" value="确认修改" id="enter"/>
                  </div>
              </form>
            </div>
        </div>

    </body>
    <script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script th:inline="javascript">
        var uname = true;
        var xuehao = true;
        var stuid = [[${stu.id}]]
        layui.use(['element','form'],function () {
            var form = layui.form;
        })


        function checkuName() {
            var stu_uname = $("#uName").val();
            $.get("/studentManage/studentCheck/"+stuid,{"stu_uname":stu_uname},function (data) {
                if(data != "Metal"){
                    $("#msg").attr("display","block");
                    $("#msg").text("");
                    $("#msg").append(data);
                    $("#enter").attr("disabled",true)
                    uname = false
                }else {
                    $("#msg").text("");
                    $("#msg").attr("display","none");
                    uname = true;
                    if(uname == true && xuehao == true){
                        $("#enter").attr("disabled",false)
                    }
                }
            })
        }

        function checkxuehao() {
            var stu_xuehao = $("#xuehao").val();
            $.get("/studentManage/studentCheck/"+stuid,{"stu_xuehao":stu_xuehao},function (data) {
                if(data != "Metal"){
                    $("#msg1").attr("display","block");
                    $("#msg1").text("");
                    $("#msg1").append(data);
                    $("#enter").attr("disabled",true)
                    xuehao = false
                }else {
                    $("#msg1").text("");
                    $("#msg1").attr("display","none");
                    xuehao = true
                    if(uname == true && xuehao == true){
                        $("#enter").attr("disabled",false)
                    }
                }

            })
        }





    </script>

</html>
