<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>测试 - 四川旅游学院虚拟仿真实验教学管理平台</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="../../static/new/css/test.css" />
	</head>
	<body>
		<div class="test-page">
			<h1 class="test-title">测试检验</h1>
			<form class="test-form" th:action="@{|/kaoshi/${midd}/postExam|}">
				<button class="test-submit" type="submit">立即提交</button>
				<a th:href="@{/expmodel/moduleDispathcher}" class="back-btn">返回</a>
				<h3 class="test-part-title">一、单选题<span>（共六十分）</span></h3>
				<div class="test-item" th:each="m,iterStat:${radioQuestionsList}">
					<div class="test-que cl">
						<span th:text="${iterStat.index+1}+'. '"></span>
						<p th:text="${m.questDescribe}+' ('+${m.questScore}+'分)'"></p>
					</div>
					<div class="test-anws cl">
						<label class="test-radio cl" th:each="n:${m.moduleTestAnswerList}">
							<input type="radio" th:value="${n.answerId}" th:name="${m.questId}" />
							<em></em>
							<span th:text="${n.answerDescribe}"></span>
						</label>
					</div>
				</div>
				<h3 class="test-part-title">二、多选题<span>（共四十分）</span></h3>
				<div class="test-item" th:each="m1,iterStat:${checkboxQuestionsList}">
					<div class="test-que cl">
						<span th:text="${iterStat.index+1}+'. '"></span>
						<p th:text="${m1.questDescribe}+' ('+${m1.questScore}+'分)'"></p>
					</div>
					<div class="test-anws cl">
						<label class="test-checkbox cl" th:each="n1:${m1.moduleTestAnswerList}">
							<input type="checkbox" th:name="${m1.questId}" th:value="${n1.answerId}" />
							<em></em>
							<span th:text="${n1.answerDescribe}"></span>
						</label>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
