<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="../../static/css/layui.css" media="all">
		<link rel="stylesheet" type="text/css" href="../../static/css/css_shiyan/style.css"/>
	</head>
	<style type="text/css">
		.layui-form-text{
			border:1px solid #e6e6e6
		}
  

	</style>

	<body>
	<div id="left_nav">	
		<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
			<li class="layui-nav-item">
				<a href="../home_page/index.html">首页</a>
			</li>
			<li class="layui-nav-item ">
				<a href="javascript:;">实验大厅</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="index.html">考核实验</a>
					</dd>
					<dd>
						<a href="all-test.html">全部实验</a>
					</dd>
					
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">理论测试</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="ceshi.html">理论测试</a>
					</dd>
					
				</dl>
				
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">查看实验成绩</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="grade.html">实验成绩汇总</a>
					</dd>
					
				</dl>
			</li>
			<li class="layui-nav-item ">
				<a href="javascript:;">帮助中心</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="jieshao.html">仿真实验介绍</a>
					</dd>
					<dd>
						<a href="team.html">关于我们</a>
					</dd>
					
					
				</dl>
			</li>
		</ul>
	</div>
		<div id="nav_crumb" class="layui-col-xs10 layui-col-xs-offset2">
			<span class="layui-breadcrumb layui-col-xs3">
  				<a href="/">首页</a>
  				<!--<a href="/demo/">演示</a>-->
				  <a>考核实验</a>
				  <a><cite>模块测试</cite></a>
			</span>
			<span class="information layui-col-xs2  layui-col-xs-offset5">
				<a href="index.html">返回上一级</a>
			</span>
			<span class="information layui-col-xs2">
				<p class="layui-col-xs7">test</p>
				<a href="change.html">
					<img src="../../static/images/img_shiyan/logo1.png" class="layui-col-xs5 inf_img">
				</a>
			</span>
		</div>
		<hr>
		
		<div class="test layui-col-xs8 layui-col-xs-offset2">
			<h2 align="center"><strong>模块测试</strong></h2><br><br>
			
			<form class="layui-form layui-form-pane" action="">
				<h3>单选题(共六十分)</h3><br>
				
				<div class="layui-form-item layui-form-text" >
		          <label class="layui-form-label">1.下面哪个样式表示的是列表组？(20分)</label>
		          <div class="layui-input-block"   >
		             	<input type="radio" name="1" value=".list-group" title=".list-group">
				      	<input type="radio" name="1" value=".list" title=".list" >
				      	<input type="radio" name="1" value=".list-group-item" title=".list-group-item" >
				      	<input type="radio" name="1" value=".list-group-item-heading" title=".list-group-item-heading" >
		          </div>
		        </div>
		        <div class="layui-form-item layui-form-text" >
		          <label class="layui-form-label">2.下面关于响应式栅格说法正确的是？(20分)</label>
		          <div class="layui-input-block"   >
		             	<input type="radio" name="2" value="超小屏幕针对的是手机设备" title="超小屏幕针对的是手机设备">
				      	<input type="radio" name="2" value="小屏幕针对的是手机设备" title="小屏幕针对的是手机设备">
				      	<input type="radio" name="2" value="中等屏幕针对的平板设备" title="中等屏幕针对的平板设备">
				      	<input type="radio" name="2" value="大屏幕针对的是桌面显示器" title="大屏幕针对的是桌面显示器">
		          </div>
		        </div>
		        <div class="layui-form-item layui-form-text" >
		          <label class="layui-form-label">3.下列选项中不属于栅格系统应用的是？(20分)</label>
		          <div class="layui-input-block"   >
		             	<input type="radio" name="sex" value="列偏移" title="列偏移">
				      	<input type="radio" name="sex" value="列合并" title="列合并">
				      	<input type="radio" name="sex" value="列嵌套" title="列嵌套">
				      	<input type="radio" name="sex" value="列排序" title="列排序">
		          </div>
		        </div>
		        
		        <h3>多选题(共四十分)</h3><br>
				
				<div class="layui-form-item layui-form-text" >
		          <label class="layui-form-label">1.下列传输介质中，可以在局域网中使用的是？(20分)</label>
		          <div class="layui-input-block"   >		          
		             	<input type="checkbox" name="" title="双绞线" lay-skin="primary"> 
		             	<input type="checkbox" name="" title="同轴电缆" lay-skin="primary"> 
						<input type="checkbox" name="" title="光缆" lay-skin="primary"> 
						<input type="checkbox" name="" title="无线介质" lay-skin="primary"> 	
		          </div>
		        </div>
		        <div class="layui-form-item layui-form-text" >
		          <label class="layui-form-label">2.网络组件可分为？(20分)</label>
		          <div class="layui-input-block"   >		          
		             	<input type="checkbox" name="" title="共享的外部设备 " lay-skin="primary"> 
		             	<input type="checkbox" name="" title="网络设备" lay-skin="primary"> 
						<input type="checkbox" name="" title="主机" lay-skin="primary"> 
						<input type="checkbox" name="" title="传输介质" lay-skin="primary"> 	
		          </div>
		        </div>
		        
				
		
		
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
				      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
				    </div>
				  </div>
				</form>
		</div>
		
		
		
		
		
		
		
		<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>