<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="../../static/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="../../static/css/css_shiyan/style.css" />
	<!--		<link rel="stylesheet" type="text/css" href="" />-->
</head>

<body>
<div class="layui-form-item">
	<div class="layui-input-block">
		<a type="button" href="/expmodel/alltestModel" class="layui-btn" lay-submit lay-filter="formDemo" style="    float: right;margin-right: 5%;">返回上一级</a>
	</div>
</div>


<div class="test layui-container" th:object="${kaoHeModelScore}">
	<div style="color: red" th:text="${msg}"></div>
	<h2 align="center"><strong>填写报告</strong></h2><br><br>

	<div th:if="${kaoHeModelScore?.ismReportteacherstate()} eq true">
		<a style="color: red" th:text="'报告总得分:'+${kaoHeModelScore?.mReportScore}+'分'"></a>
	</div>
	<form th:method="post" class="layui-form layui-form-pane" action="" id="myForm">

		<div th:each="YiGeTi,YiGeTiStat:${TiMuList}" class="layui-form-item layui-form-text">
			<div th:if="${kaoHeModelScore?.ismReportteacherstate()} eq true">
				<label class="layui-form-label">
					[[${YiGeTi.getReportDescribe()}]]
					<a style="color: red;display: inline" th:each="daAn,daAnStat:${DaAnList}" th:if="${YiGeTi.getReportId()}==${daAn.getReportId()}" th:text="'(本题得分:'+${daAn.getScore()}+'分)'" class="layui-form-label">1.Java语言的主要特点有</a>
				</label>

			</div>
			<div th:if="${kaoHeModelScore?.ismReportteacherstate()} eq false">
				<label th:text="${YiGeTi.getReportDescribe()}" class="layui-form-label">1.Java语言的主要特点有</label>
			</div>
			<!--					<script th:utext="${daAn.getStuReportAnswer()}" th:id="|editor${YiGeTiStat.index}|" th:each="daAn,daAnStat:${DaAnList}" th:if="${YiGeTiStat.index}==${daAnStat.index}" th:name = "|LZeDA${YiGeTiStat.index}|" type="text/plain">-->
			<script th:utext="${daAn.getStuReportAnswer()}" th:id="|editor${YiGeTiStat.index}|" th:each="daAn,daAnStat:${DaAnList}" th:if="${YiGeTi.getReportId()}==${daAn.getReportId()}" th:name = "|LZeDA${YiGeTiStat.index}|" type="text/plain">

			</script>
			<!--富文本框-->
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block" th:if="${kaoHeModelScore?.ismReportteacherstate()} eq false">
				<button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
				<button type="reset" onclick="formreset()" class="layui-btn layui-btn-primary">重置</button>
			</div>
			<div class="layui-input-block" th:if="${isNeedKaohe} eq false">
				<button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
				<button type="reset" onclick="formreset()" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>

	</form>
</div>

<!--	    引入富文本编辑器的js-->
<script th:src="@{/ueditor/ueditor.config.js}"></script>
<script th:src="@{/ueditor/ueditor.all.min.js}"></script>
<script th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
<script th:each="YiGeTi,YiGeTiStat:${TiMuList}">
	UE.getEditor('editor[[${YiGeTiStat.index}]]');   //创建富文本编辑器
	function formreset(){
		for (let i = 0; i < [[${YiGeTiStat.size}]]; i++) {
			UE.getEditor('editor'+i).setContent("")
		}
	}
</script>

<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script>
	layui.use(['element','form'],function () {
		var form = layui.form;
	})

</script>
</body>

</html>