<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../static/css/css_shiyan/style.css"/>
    <link rel="stylesheet" type="text/css" href=""/>
</head>
<h1>此次得分:</h1>
<h1 th:text="${fs}"></h1>
<p>请你自行返回</p>


<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>