<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>实验报告 - 旅游大数据虚拟仿真实验教学平台</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="../../static/new/css/exp-report.css" />
	</head>
	<body>
		<div class="report-page">
			<div class="logo">
				<img src="../../static/new/images/sctu.png" />
			</div>
			<div class="title">[[${collegeReport.getCrClassName()}]]实验报告</div>
			<p class="name">实验名称：<span th:text="${collegeReport.getMname()}"></span></p>
			<div class="basic">
				<p class="basic-item">学号：<span th:text="${collegeReport.getStuXuehao()}"></span></p>
				<p class="basic-item">姓名：<span th:text="${collegeReport.getStuName()}"></span></p>
				<p class="basic-item">班级：<span th:text="${collegeReport.getClassName()}"></span></p>
				<p class="basic-item">地点：<span th:text="${collegeReport.getCrDress()}"></span></p>
				<p class="basic-item">时间：<span th:text="${#dates.format(collegeReport.getCrDate(),'yyyy/MM/dd')}"></span></p>
				<p class="basic-item">教师：<span th:text="${collegeReport.getCrTeacher()}"></span></p>
			</div>
			<div class="step-name">一、实验目的</div>
			<div class="editor-area">
				<form id="step2" th:action="@{|/collegereport/purpose/${collegeReport.getMid()}|}" method="post">
					<script id="editor1" name="crExpPurpose" th:utext="${collegeReport.getCrExpPurpose()}" type="text/plain"></script>
				</form>
			</div>
		</div>
		<div class="report-btns cl">
			<div class="prev-btn">上一步</div>
			<div class="next-btn">下一步</div>
		</div>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="../../static/ueditor/ueditor.config.js"></script>
		<script src="../../static/ueditor/ueditor.all.min.js"></script>
		<script src="../../static/ueditor/lang/zh-cn/zh-cn.js"></script>
		<script>
			$(function () {
				var _p = '/collegereport/purpose/[[${collegeReport.getMid()}]]/return'
				UE.getEditor('editor1', { initialFrameHeight: 400 })
				$('.prev-btn').click(function () {
					$('#step2').attr('action', _p)
					$('#step2').submit()
				})
				$('.next-btn').click(function () {
					$('#step2').submit()
				})
			})
		</script>
	</body>
</html>
