<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 引入title和css -->
	<meta charset="UTF-8">
	<title>四川旅游学院虚拟仿真实验教学管理平台</title>
	<meta name="Keywords" content="四川旅游学院虚拟仿真实验教学管理平台</">
	<meta name="Description" content="四川旅游学院虚拟仿真实验教学管理平台</">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css"/>

	<link rel="stylesheet" type="text/css" href="../../static/css/css_home/style.css"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/css_home/aos.css"/>
	<script src="../../static/js/js_home/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>

	<script src="../../static/js/js_home/echart.js" type="text/javascript" charset="utf-8"></script>

	<script src="../../static/js/js_home/jquery.taty.js" type="text/javascript" charset="utf-8"></script>
	<!-- 引入title和css -->
	<!-- 修改css -->
	<style>
		body{
			min-height:1200px;

		}
		.dhbt:hover{
			background:#ebebeb;
		}
		.container{

		}
		p{
			line-height: 30px;
			font-size: 17px;
			margin-top: 20px;
		}
		.data{
			float: right;
		}
		.content0{
			display: block;
			width: 700px;
			overflow: hidden;
			/* transform-style: flat; */
			float: left;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin-bottom: 20px;
		}
		.hr0{
			clear:both;
		}
	</style>
</head>
<body >
<div class="top visible-lg">
	<div class="container">
		<div class="container">


			<div style="float:right;color:#fff ; margin: 10px" class="top-fr">
				欢迎来到四川旅游学院《旅游大数据虚拟仿真实验教学平台》&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<!-- <i class="fa fa-sign-out"></i><a style="color:#fff" href="/sso/login.php">教务门户登录</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
				<i class="fa fa-sign-out"></i>
				<a th:if="${session.username}==null">
					<a style="color:#fff" href="/login">用户登录</a>&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cog"></i>
					<a style="color:#fff" href="/register">注册用户</a>&nbsp;&nbsp;&nbsp;&nbsp;
				</a>
				<a th:if="${session.username}!=null">
					<a th:text="|Welcome to you, ${session.username}!|"></a>&nbsp;&nbsp;
<!--					<a style="color:#fff" th:href="@{/logout}">退出登录</a>-->
				</a>
<!--				<a style="color:#fff" href="javascript:;">后台入口</a>-->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#logout").click(function(){
		awdid=111;
		$.post("/index.php/Home/Login/Studentlogout.html",{awdid:"daw"},function(data){
			if(data==1){
				location.href="/index.php/Home/Index/index.html";
			}
		})
	})
</script>
<header id="header" style="background:#fff">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="navbar-brand">
					<img src="../../static/images/LOGO2.png" style="height:61px" alt="" width="" height="" class="img-responsive"/>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li class="dhbt"><a style="color: #000;font-size: 18px;font-weight: 400" rel="nofollow" href="/newsinfo/newslist" >首页</a></li>
					<li>
						<a style="color:  #000;font-size: 18px;font-weight: 400" rel="nofollow" href="/newsinfo/shiyan">实验大厅入口</a>

					</li>
					<li class="dhbt"><a style="color: #000;font-size: 18px;font-weight: 400" rel="nofollow" href="/setinfo/situation">仿真平台概况</a></li>
					<li class="dhbt"><a style="color: #000;font-size: 18px;font-weight: 400" rel="nofollow" href="/teachers/frontList">师资队伍</a></li>
					<li class="dhbt"><a style="color: #000;font-size: 18px;font-weight: 400" rel="nofollow" href="/question/list1">答疑室</a></li>
					<li class="dhbt"><a style="color: #000;font-size: 18px;font-weight: 400" rel="nofollow" href="/learning/learningList">学习效果</a></li>
					<!-- <li class="dhbt"><a style="color: #000;font-size: 18px;font-weight: 400" rel="nofollow" href="/index.php/Home/Erji/Index/type/13.html">上传规范</a></li> -->
				</ul>

			</div>
		</div>
	</nav>
</header>
<!-- 引入head -->
<!-- 引入二级页html -->
<!--
<section class="n_banner">
<img src="/Public/nHome/picture/banc.jpg" class="img-responsive"/>
</section> -->
<div class="container" style="padding-bottom: 50px ">
	<div class="left_con col-md-3 col-sm-12 col-xs-12">

		<div class="box">
			<h3 style='font-size:15px'>新闻管理</h3>
			<ul class="sort">
				<li>                   <a style="font-size: 18px;color:#000;font-weight:900;font-family: '楷体'" href="/index.php/Home/Erji/Index/new/101.html">
					新闻管理                          </a></li>

			</ul>
		</div>
	</div>
	<div class="right_con col-md-9 col-sm-12 col-xs-12" >


		<!-- <div class="right_con col-md-10 col-sm-12 col-xs-12" > -->
		<div class="row">
			<div class="crumb clearfix">
				<!-- <h3 style='font-size:15px'>新闻详细</h3> -->
				<div class="site hidden-xs">您的当前位置：<a href="/index.php/Home/Index/index.html">首 页</a>><a href="news.html">新闻管理</a></div>
			</div>
			<!-- <div class="content" >            -->
			<!-- <div class="news_detail">
            <h1>平台概况</h1>
            <div class="info_title clearfix">
                <span>发布日期：2019-06-26 15:52</span>
            </div>
             -->

			<div name="set_platintro"  class="college">
				<div th:each="news:${newsPageInfo.content}">
					<p>
						<a th:href="@{|noticeDetails/${news.id}|}">
						<span th:text="${news.news_name}" class="content0">
							满园花开，只为等你归来——我校2020年春季学期首批学生返校复学
						</span>
							<span th:text="${#dates.format(news.dic_datetime,'yyyy-MM-dd')}" class="data">2020-05-24</span>
						</a>

					</p>
					<hr class="hr0" />
				</div>

				<div style="margin:0 auto; width: 80%; text-align: center;">
					<p>当前 <span th:text="${newsPageInfo.number}+1"></span> 页,
						总 <span th:text="${newsPageInfo.totalPages}"></span> 页,
						共 <span th:text="${newsPageInfo.totalElements}"></span> 条记录</p>
					<a th:href="@{/newsinfo/more}">首页</a>
					<a th:href="@{/newsinfo/more(pageNum=${newsPageInfo.hasPrevious()}?${newsPageInfo.number}-1:0)}">上一页</a>
					<a th:href="@{/newsinfo/more(pageNum=${newsPageInfo.hasNext()}?${newsPageInfo.number}+1:${newsPageInfo.number})}">下一页</a>
					<a th:href="@{/newsinfo/more(pageNum=${newsPageInfo.totalPages}-1)}">尾页</a>
				</div>


			</div>

		</div>

	</div>
</div>
</div>
<!-- 引入二级页html -->
<!-- 引入foot -->
<footer class="footer" style="background-color:#004579;position: fixed;bottom: 0px;width: 100%;background:#174f37">
	<div class="copyright " style="width: 100%;">
		<div class="container" style="width: 100%;;">
			<ul class="pull-right nomargin list-inline mobile-block col-sm-12 col-md-12" style="color: rgba(255,255,255,0.6);text-decoration: none;margin-bottom:0px!important;">
				<li class="col-sm-0 col-md-4"></li>
				<li class="col-sm-12 col-md-4"><center>版权所有:四川旅游学院 旅游大数据虚拟仿真实验教学平台系统 V1.0</center></li>
				<!-- <li class="col-sm-12 col-md-4"><center><a style="color: #fff" href="http://www.syjctech.com/" target="_blank">技术支持：沈阳捷诚软件技术有限公司 &nbsp;&nbsp;</a> </center></li>              -->
			</ul>

		</div>
	</div>
</footer>
<!-- 引入foot -->
<!-- 引入js -->



</body>
</html>