<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>总评成绩</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../static/css/layui.css" media="all">
		<link rel="stylesheet" type="text/css" href="../../static/css/page.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/code.css"/>
		<style type="text/css">
			* {
				margin: 0;
				padding: 0
			}
			
			.table-wrapper {
				overflow-x: scroll;
				overflow-y: visible;
				/*width: 230px;*/
				/*margin-left: 120px;*/
				/*border: 1px solid #f00;*/
				margin: 0 auto;
				width: 1000px;
			}
			
		.table-wrapper td,
			th {
				/*padding: 5px 20px;*/
				width: 100px;
			}
			
		
		</style>
	</head>
	<body>
		<div class="layui-container">
			<img src="../../static/images/LOGO2.png"> <br><br>
			<span class="layui-breadcrumb">
  			<a href="/">首页</a>
  			<!--<a href="/demo/">轮播公告</a>-->
  			<a><cite>总评成绩</cite></a>
			</span> <br><br><br>
			
			
			<table class="layui-table" lay-size="lg" style="    text-align: center;">
				<!--<colgroup>
					<col width="150">
					<col width="200">
					<col>
				</colgroup>-->
				<thead>
					<tr>
						<th colspan="5">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<label class="layui-form-label" >当期往期</label>
									<div class="layui-input-block" style="width: 30%;">
										<select name="interest" lay-filter="aihao">
											
											<option value="0" selected="">当期</option>
											<option value="1">往期</option>
											
										</select>
									</div>

								</div>
							</form>
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<label class="layui-form-label">班级筛选</label>
									<div class="layui-input-block" style="width: 30%;">
										<select name="interest" lay-filter="aihao">
											
											<option value="0" selected="">18信管01</option>
											<option value="1">18信管02</option>
											<option value="2">18信管03</option>
											<option value="3">18数媒01</option>
											<option value="4">18数媒02</option>
										</select>
									</div>

								</div>
							</form>
						</th>

						<th colspan="5">
							<li>
								<div class="layui-input-block" style="float: left; position: relative;">
									<label class="layui-form-label">学号搜索</label>
									<input style="width: auto;" type="text" id="select_orderId" name="select_orderId" lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input">
								</div>
								<button class="layui-btn" lay-submit="" id="searchBtn" data-type="getInfo" style="float: left;">搜索</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button type="导出" class="layui-btn" lay-submit="" lay-filter="demo1">导出</button>
							</li>						
						</th>						
					</tr>
					<tr>
						<th colspan="5">
							<form class="layui-form layui-col-md3" action="" >
									<div class="layui-form-item ">
										<label class="layui-form-label">模块占比</label>
										<div class="layui-input-block">
											<input type="number" name="score" lay-verify="title" autocomplete="off" placeholder="成绩" class="layui-input" style="width: 62px;">
										</div>
									</div>
							</form>
						</th>
						<th colspan="5">
							<form class="layui-form layui-col-md3" action="" >
									<div class="layui-form-item ">
										<label class="layui-form-label">理论占比</label>
										<div class="layui-input-block">
											<input type="number" name="score" lay-verify="title" autocomplete="off" placeholder="成绩" class="layui-input" style="width: 62px;">
										</div>
									</div>
							</form>	
							<button type="updata" class="layui-btn" lay-submit="" lay-filter="demo1" style="margin-left: 50%;">修改</button>
						</th>												
					</tr>
				</thead>
			</table>
			
			<div class="table-wrapper">
				<table id="consumption-data" class="layui-table data" lay-size="lg" style="    text-align: center;">
				<colgroup>
					<col width="150">
					<col width="200">
					<col>
				</colgroup>
				<thead class="header">
					
					<tr>
						<th>学号</th>
						<th>姓名</th>
						<th>班级</th>
						<th>模块1</th>
						<th>测试成绩</th>
						<th>测试占比</th>
						<th>报告成绩</th>
						<th>报告占比</th>
						<th>模块权重</th>
						<th>模块1</th>
						<th>测试成绩</th>
						<th>测试占比</th>
						<th>报告成绩</th>
						<th>报告占比</th>
						<th>模块权重</th>
						<th>模块考核总成绩</th>
						<th>理论测试总成绩</th>
						<th>模块考核占比</th>
						<th>理论测试占比</th>
						<th>总评成绩</th>
						
						
					</tr>
				</thead>
				<tbody class="results">
					<tr>
						<td>12345678</td>
						<td>张三</td>
						<td>18信管01</td>
						<td>实验1</td>
						<td>86</td>
						<td>0.3</td>
						<td>87</td>
						<td>0.7</td>
						<td>0.1</td>
						<td>实验1</td>
						<td>86</td>
						<td>0.3</td>
						<td>87</td>
						<td>0.7</td>
						<td>0.1</td>
						<td>87</td>
						<td>87</td>
						<td>0.3</td>
						<td>0.7</td>
						<td>78</td>
						
					</tr>
					<tr>
						<td>12345678</td>
						<td>张三</td>
						<td>18信管01</td>
						<td>实验1</td>
						<td>86</td>
						<td>0.3</td>
						<td>87</td>
						<td>0.7</td>
						<td>0.1</td>
						<td>实验1</td>
						<td>86</td>
						<td>0.3</td>
						<td>87</td>
						<td>0.7</td>
						<td>0.1</td>
						<td>87</td>
						<td>87</td>
						<td>0.3</td>
						<td>0.7</td>
						<td>78</td>
						
					</tr>
					<tr>
						<td>12345678</td>
						<td>张三</td>
						<td>18信管01</td>
						<td>实验1</td>
						<td>86</td>
						<td>0.3</td>
						<td>87</td>
						<td>0.7</td>
						<td>0.1</td>
						<td>实验1</td>
						<td>86</td>
						<td>0.3</td>
						<td>87</td>
						<td>0.7</td>
						<td>0.1</td>
						<td>87</td>
						<td>87</td>
						<td>0.3</td>
						<td>0.7</td>
						<td>78</td>
						
					</tr>
					
				</tbody>
			</table>
			</div>
			<button type="updata" class="layui-btn" lay-submit="" lay-filter="demo1" style="margin-left: 72%;margin-top: 2%;">将当期成绩全部存入往期成绩</button>
		
			
		</div>
		
		<div style="text-align: center; margin-top: 2%;">
			<div id="pager" class="pager clearfix">
			</div>
		</div>
		
		<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../static/js/layui.all.js" ></script>
		<script src="../../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/jquery.z-pager.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$("#pager").zPager({
				totalData: 50,
				htmlBox: $('#wraper'),
				btnShow: true,
				ajaxSetData: false
			});

			function currentPage(currentPage) {
				/*
					触发页码数位置： Page/js/jquery.z-pager.js 64行
				*/
				console.log("当前页码数：" + currentPage);
			}
		</script>
	</body>
</html>
