<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>考核实验设置</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/page.css"/>
	</head>
	<body>
		<div id="app" class="layui-container">
			<img src="../../static/images/LOGO2.png"> <br><br>
			<span class="layui-breadcrumb">
  			<a href="/">首页</a>
  			<!--<a href="/demo/">师资队伍</a>-->
  			<a><cite>考核实验</cite></a>
			</span> <br><br><br>
			<button type="button" class="layui-btn layui-btn-primary" style="border-color: #174f37;color: #174f37;">考核模块</button>
			<button type="button" class="layui-btn layui-btn-primary" style="border-color: #174f37;color: #174f37;">全部模块</button>
			
			<div class="layui-form">
				<table class="layui-table">
					<colgroup>
						<col width="150">
						<col width="150">
						<col width="200">
						<col>
					</colgroup>
					<thead>
						<tr>
							<th>ID</th>
							<th>实验名</th>
							<th>实验类型</th>
							<th>实验目的</th>
							<th>课时</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>模块1</td>
							<td>拓展创新</td>
							<td>拓展创新</td>
							<td>32</td>
							<td>
								<button type="add"  @click="isTrue" class="layui-btn layui-btn-sm" >移入考核</button>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td>模块1</td>
							<td>拓展创新</td>
							<td>拓展创新</td>
							<td>32</td>
							<td>
								<button type="add"  @click="isTrue" class="layui-btn layui-btn-sm" >移入考核</button>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td>模块1</td>
							<td>拓展创新</td>
							<td>拓展创新</td>
							<td>32</td>
							<td>
								<button type="add"  @click="isTrue" class="layui-btn layui-btn-sm" >移入考核</button>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td>模块1</td>
							<td>拓展创新</td>
							<td>拓展创新</td>
							<td>32</td>
							<td>
								<button type="add"  @click="isTrue" class="layui-btn layui-btn-sm" >移入考核</button>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td>模块1</td>
							<td>拓展创新</td>
							<td>拓展创新</td>
							<td>32</td>
							<td>
								<button type="add"  @click="isTrue" class="layui-btn layui-btn-sm" >移入考核</button>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td>模块1</td>
							<td>拓展创新</td>
							<td>拓展创新</td>
							<td>32</td>
							<td>
								<button type="add"  @click="isTrue" class="layui-btn layui-btn-sm" >移入考核</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>	
		
		
		
		</div>
		
		
		<div style="text-align: center;">
			<div id="pager" class="pager clearfix">
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/jquery.z-pager.js" type="text/javascript" charset="utf-8"></script>
		<script>
	var app = new Vue({
		el:"#app",
		
		methods:{
			isTrue:function(){
				confirm("确认移入考核？")
			}
		}
	})
	
	
	
</script>
<script type="text/javascript">
		$("#pager").zPager({
			totalData: 50,
			htmlBox: $('#wraper'),
			btnShow: true,
			ajaxSetData: false
		});
		
		function currentPage(currentPage){
			/*
				触发页码数位置： Page/js/jquery.z-pager.js 64行
			*/
			console.log("当前页码数：" + currentPage);
		}
		
	</script>
	</body>
</html>
