<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>实验设置</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/layui.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/page.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../static/css/code.css">

    <style type="text/css">
        .layui-input,
        .layui-textarea {
            width: 35%;
        }
        .layui-form-label {
            width: 100px;
        }
    </style>
</head>
<body>
<div class="layui-container">
    <img src="../../static/images/LOGO2.png"> <br><br>
    <span class="layui-breadcrumb">
  			<a href="/kaohe/check_Module">首页</a>
        <!--<a href="/demo/">轮播公告</a>-->
  			<a><cite>考核实验</cite></a>
			</span><br><br><br>
    <form th:object="${kaohemodel}" class="layui-form" th:action="@{update}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">实验名</label>

            <p th:text="${kaohemodel.experiment_name}">实验名</p>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">测试成绩占比</label>
            <div class="layui-input-block">
                <input type="number" th:value="${kaohemodel.m_test_baifenbi}" name="m_test_baifenbi" lay-verify="title" autocomplete="off"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">报告成绩占比</label>
            <div class="layui-input-block">
                <input type="text" th:value="${kaohemodel.m_report_baifenbi}" name="m_report_baifenbi" lay-verify="title" autocomplete="off"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权重</label>
            <div class="layui-input-block">
                <input type="text" th:value="${kaohemodel.m_scale}" name="m_scale" lay-verify="title" autocomplete="off"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">序号</label>
            <div class="layui-input-block">
                <input type="number" th:value="${kaohemodel.m_order}" name="m_order" lay-verify="title" autocomplete="off"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">修改</button>
                <button type="return" class="layui-btn layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
<!-- <script src="js/layui.all.js" type="text/javascript" charset="utf-8"></script> -->
</body>

</html>