<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>模块测试成绩管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../static/css/layui.css" media="all">
		<link rel="stylesheet" type="text/css" href="../../static/css/page.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/code.css"/>

		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css"/>
		<style type="text/css">
			* {
				margin: 0;
				padding: 0
			}
			
			.table-wrapper {
				overflow-x: scroll;
				overflow-y: visible;
				/*width: 230px;*/
				/*margin-left: 120px;*/
				/*border: 1px solid #f00;*/
				margin: 0 auto;
				width: 1000px;
			}
			
		.table-wrapper td,
			th {
				/*padding: 5px 20px;*/
				width: 100px;
			}
			
		
		</style>
	</head>
	<body>
		<div class="layui-container">
			<img src="../../static/images/LOGO2.png"> <br><br>
			<span class="layui-breadcrumb">
  			<a href="/">首页</a>
  			<!--<a href="/demo/">轮播公告</a>-->
  			<a><cite>模块测试成绩管理</cite></a>
			</span> <br><br><br>
			<table class="layui-table" lay-size="lg" style="    text-align: center;">
				<colgroup>
					<col width="150">
					<col width="200">
					<col>
				</colgroup>
				<thead>
					<tr>
						<th colspan="3">

								<div class="layui-form-item">
									<label class="layui-form-label">班级筛选</label>
									<div class="layui-input-block" style="width: 30%;">
										<select name="interest" lay-filter="aihao" onchange="window.open(this.options[this.selectedIndex].value,target='_self')">
												<option>请选择</option>
											<div th:each="clazz:${classList}" >
												<option th:value="|/reportScoreManage/${clazz.getClassId()}/list|"  th:text="${clazz.getClassName()}">18信管01</option>
											</div>
										</select>

									</div>

								</div>
						</th>

						<th colspan="3">
							<form th:action="@{/reportScoreManage/list}">
							<li>
								<div class="layui-input-block" style="float: left; position: relative;">
									<label class="layui-form-label">学号搜索</label>
									<input style="width: auto;" type="text"  th:value="${select_orderId}" id="select_orderId" name="select_orderId" lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input">
								</div>
								<button class="layui-btn" lay-submit="" id="searchBtn" data-type="getInfo" style="float: left;">搜索</button>

							</li>

							</form>
<!--							<a th:action="@{/reportScoreManage/exportExcel}">-->
<!--								<button type="导出" class="layui-btn" lay-submit="" lay-filter="demo1">导出</button>-->
<!--							</a>-->
						</th>
					</tr>
				</thead>
			</table>
			
			<div class="table-wrapper">
				<table id="consumption-data" class="layui-table data" lay-size="lg" style="    text-align: center;">
				<colgroup>
					<col width="150">
					<col width="200">
					<col>
				</colgroup>
				<thead class="header">
					
					<tr >
						<th>学号</th>
						<th>姓名</th>
						<th>班级ID</th>
						<div th:each="a:${numList}">
							<th>模块名</th>
							<th>测试成绩</th>
							<th>状态</th>
							<th>操作</th>
						</div>



					</tr>
				</thead>
				<tbody class="results">
<!--				th:each="one:${allInfo}"-->
					<tr th:each="one:${allStu}">
						<td ><p th:text="${one.getStuXuehao()}">12345678</p></td>
						<td ><p th:text="${one.getStuName()}">12345678</p></td>
						<td ><p th:text="${one.getClassId()}">12345678</p></td>
						<div th:each="stuInfo,stat:${allInfo}" th:if="${stuInfo.getSid()} == ${one.getId()}">
							<td th:if="${stat.index >= 0}" ><p th:text="${stuInfo.getmName()}">12345678</p></td>
							<td th:if="${stat.index >= 0}" ><p th:text="${stuInfo.getmScore()}">12345678</p></td>
							<td th:if="${stat.index >= 0}" ><p th:text="${stuInfo.isDone()}?'完成':'未完成'">12345678</p></td>
							<td th:if="${stat.index >= 0}" ><a><button type="评分" class="layui-btn" lay-submit="" lay-filter="demo1">评分</button></a></td>

						</div>
					</tr>
				</tbody>
			</table>
			</div>

			<div class="modal-footer no-margin-top">
				<ul class="pagination pull-right no-margin">

					<!-- 首页 -->
					<li>
						<a th:href="'/reportScoreManage/list?pageNum=0'">首页</a>
					</li>

					<!-- 上一页 -->
					<li th:if="${allStu.hasPrevious()}">
						<a th:href="'/reportScoreManage/list?pageNum=' + ${allStu.previousPageable().getPageNumber()}" th:text="上一页"></a>
					</li>

					<!-- 中间页 -->
					<li th:each="pageNum:${#numbers.sequence(0, allStu.getTotalPages() - 1)}">
						<a th:href="'/reportScoreManage/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne allStu.pageable.getPageNumber()}"></a>
						<a th:href="'/reportScoreManage/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq allStu.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
					</li>

					<!-- 下一页 -->
					<li th:if="${allStu.hasNext()}">
						<a th:href="'/reportScoreManage/list?pageNum=' + ${allStu.nextPageable().getPageNumber()}" th:text="下一页"></a>
					</li>

					<!-- 尾页 -->
					<li>
						<a th:href="'/reportScoreManage/list?pageNum=' + ${allStu.getTotalPages() - 1}">尾页</a>
					</li>

				</ul>
			</div>
		</div>
		
<!--		<div style="text-align: center; margin-top: 2%;">-->
<!--			<div id="pager" class="pager clearfix">-->
<!--			</div>-->
<!--		</div>-->

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/vue.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
		<!--<script type="text/javascript" src="js/layui.all.js" ></script>-->
		<script src="../../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/jquery.z-pager.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$("#pager").zPager({
				totalData: 50,
				htmlBox: $('#wraper'),
				btnShow: true,
				ajaxSetData: false
			});

			function currentPage(currentPage) {
				/*
					触发页码数位置： Page/js/jquery.z-pager.js 64行
				*/
				console.log("当前页码数：" + currentPage);
			}
		</script>
	</body>
</html>
