<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title>测试成绩管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../static/css/layui.css" media="all">
		<link rel="stylesheet" type="text/css" href="../../static/css/page.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/code.css"/>
		<style>
			.text-overflow {
				display:block;/*内联对象需加*/
				width:31em;/*指定宽度*/
				word-break:keep-all;/* 不换行 */
				white-space:nowrap;/* 强制在同一行内显示所有文本，直到文本结束或者遭遇 br 对象。不换行 */
				overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
				text-overflow:ellipsis;/* IE 专有属性，当对象内文本溢出时显示省略标记() ；需与overflow:hidden;一起使用。*/
			}

			table{
				width:30em;
				table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
			}
			td{
				width:100%;
				word-break:keep-all;/* 不换行 */
				white-space:nowrap;/* 不换行 */
				overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
				text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记() ；需与overflow:hidden;一起使用。*/
			}

			.ak{
				margin-left: 0px;
			}
			.layui-table th {
				text-align: center;
				font-weight: 900;
			}

			.top1 th {
				text-align: center;
				font-weight: 500;
			}
			.top1 .layui-form-label{
				font-weight: 900;
			}
			.top1{
				width: 90%;
				margin: 0 auto;
			}
		</style>
	</head>


	<body>
		<div class="layui-container">

<!--			<img src="../../static/images/LOGO2.png"> <br><br>-->
<!--			<span class="layui-breadcrumb">-->
<!--  			<a href="/">首页</a>-->
<!--  			&lt;!&ndash;<a href="/demo/">轮播公告</a>&ndash;&gt;-->
<!--  			<a><cite>测试成绩管理</cite></a>-->
<!--			</span> <br><br><br>-->

			<table class="layui-table top1" lay-size="lg" style="    text-align: center;">
<!--				<colgroup>-->
<!--					<col width="150">-->
<!--					<col width="200">-->
<!--					<col>-->
<!--				</colgroup>-->

					<tr>
						<th colspan="3" style="padding: 0">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<label class="layui-form-label">班级筛选</label>
									<div class="layui-input-block" style="width: 30%;">
										<select name="interest" lay-filter="aihao">
											<!--<option value=""></option>-->
											<option value="0" selected="">18信管01</option>
											<option value="1">18信管02</option>
											<option value="2">18信管03</option>
											<option value="3">18数媒01</option>
											<option value="4">18数媒02</option>
										</select>
									</div>

								</div>
								
							</form>
						</th>

						<th colspan="3" style="padding: 0">

							<li>
								<div class="layui-input-block ak" style="float: left; position: relative;">
									<label class="layui-form-label">学号搜索</label>
									<input style="width: auto;" type="text" id="select_orderId" name="select_orderId" lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input">
								</div>
								<button class="layui-btn" lay-submit="" id="searchBtn" data-type="getInfo" style="float: left;">搜索</button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--								<button type="导出" class="layui-btn" lay-submit="" lay-filter="demo1">导出</button>-->
							</li>

						</th>
					</tr>

			</table>
					<table class="layui-table" lay-size="lg" style="    text-align: center;">
						<thead>
					<tr >
						<th>学号</th>
						<th>姓名</th>
						<th>班级</th>
						<th>模块1</th>
						<th width="10%">测试成绩</th>
						<th width="10%">状态</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="one:${allStu}">
						<td  th:text="${one.getStuXuehao()}">12345678</td>
						<td  th:text="${one.getStuName()}">张三</td>
						<td  th:text="${one.getClassId()}">18信管01</td>
						<div th:each="stuInfo,stat:${allInfo}">
							<td th:text="${stuInfo.getmName}}">实验1</td>
							<td th:text="${stuInfo.getmScore}}">86</td>
							<td th:text="${stuInfo.isDone()}?'完成':'未完成'">完成</td>
						</div>
					</tr>
<!--					<tr>-->
<!--						<td>12345678</td>-->
<!--						<td>张三</td>-->
<!--						<td>18信管01</td>-->
<!--						<td>实验1</td>-->
<!--						<td>86</td>-->
<!--						<td>完成</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<td>12345678</td>-->
<!--						<td>张三</td>-->
<!--						<td>18信管01</td>-->
<!--						<td>实验1</td>-->
<!--						<td>86</td>-->
<!--						<td>完成</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<td>12345678</td>-->
<!--						<td>张三</td>-->
<!--						<td>18信管01</td>-->
<!--						<td>实验1</td>-->
<!--						<td>86</td>-->
<!--						<td>完成</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<td>12345678</td>-->
<!--						<td>张三</td>-->
<!--						<td>18信管01</td>-->
<!--						<td>实验1</td>-->
<!--						<td>86</td>-->
<!--						<td>完成</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<td>12345678</td>-->
<!--						<td>张三</td>-->
<!--						<td>18信管01</td>-->
<!--						<td>实验1</td>-->
<!--						<td>86</td>-->
<!--						<td>完成</td>-->
<!--					</tr>-->
				</tbody>
			</table>
		</div>
		<div style="text-align: center;">
			<div id="pager" class="pager clearfix">
			</div>
		</div>


		<script type="text/javascript" src="../../static/js/layui.all.js" ></script>
		<!--<script src="js/layui.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="../../static/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/jquery.z-pager.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			
			 
			
			$("#pager").zPager({
				totalData: 50,
				htmlBox: $('#wraper'),
				btnShow: true,
				ajaxSetData: false
			});

			function currentPage(currentPage) {
				/*
					触发页码数位置： Page/js/jquery.z-pager.js 64行
				*/
				console.log("当前页码数：" + currentPage);
			}
		</script>

  <script>
       
    </script>
	</body>

</html>