<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>账号登录</title>		
		<link rel="stylesheet" href="../static/css/layui.css">
	</head>
    <style type="text/css">
        #b{
            float: right;
            margin: 10px 0;
        }
        .aa div{
            float: left;
        }
    </style>
	<body>
		<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">账号登录</li>
            </ul>
            <form class="layui-tab-content" th:action="@{/login}" METHOD="post">
            	<div class="layui-tab-item layui-show">
    	            <div id="l1" class="layui-col-md8 layui-col-md-offset2">
    	            	<div class="layui-form-item">
                            <label class="layui-form-label">账号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="account" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码：</label>
                            <div class="layui-input-block">
                                <input type="text" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item ">
                            <label class="layui-form-label aa">验证码：</label>
                            <div class="layui-input-block">
                                <input style="width: 40%;float: left;" type="text" name="code" required  lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                                <div style="width: 49%;float: left;height: 38px;">
                                    <img  id="verifyimg" th:src="@{/verifyCode}" style="width: 66%;height: 38px;float: left;" alt="">
                                    (看不清?<a href="javascript:void(0)" onclick="javascript:refreshCaptcha()" style="color: coral">换一张</a>)<br/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label aa">你的角色：</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="type" title="teacher" value="admin"><span>老师</span>
                                <input type="checkbox" name="type" title="student" value="student"><span>学生</span>
                            </div>
                        </div>
                        <div class="layui-btn-container" style="text-align: center;">
                            <button type="submit" class="layui-btn">登录</button>
                            <button type="button" class="layui-btn"><a th:href="@{/register}">注册</a></button>
                        </div>
    	            </div>
                </div>
            </form>
            <p th:text="${msg}" style="color: red"></p>
        </div>
		<script src="../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
        <script src="../static/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            function refreshCaptcha(){
                $("#verifyimg").attr("src","/verifyCode?id=" + new Date() + Math.floor(Math.random()*24));
            }
        </script>
	</body>
</html>
