.main-area {
	width: 1200px;
	margin: 0 auto 30px;
	min-height: 600px;
}
.bar {
	height: 56px;
	line-height: 56px;
	width: 100%;
	box-sizing: border-box;
	border-left: 5px solid #215130;
	margin: 0 0 30px 0;
	background: #efefef;
	display: flex;
	justify-content: space-between;
}
.current {
	font-size: 20px;
	text-indent: 20px;
	font-weight: normal;
}
.crumb {
	font-size: 14px;
	margin-right: 20px;
}
.crumb a:hover {
	color: #215130;
	text-decoration: underline;
}
.teachers {
	display: flex;
	flex-wrap: wrap;
}
.teacher {
	width: 500px;
	height: 220px;
	overflow: hidden;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 10px;
	margin: 0 50px 30px;
}
.teacher:nth-child(2n) {
	margin-right: 0;
}
.teacher div {
	width: 140px;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #dfdfdf;
	position: relative;
	float: left;
	margin-right: 10px;
	overflow: hidden;
}
.teacher img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
.teacher h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
}
.teacher p {
	font-size: 14px;
	line-height: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}
