<!DOCTYPE html>
<html class="x-admin-sm"  lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>添加实验报告</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" type="text/css" href="../../static/css/layui.css"/>
        <!--<link rel="stylesheet" href="./css/font.css">-->
        	<link rel="stylesheet" type="text/css" href="../../static/css/font.css"/>
        <!--<link rel="stylesheet" href="./css/xadmin.css">-->
        	<link rel="stylesheet" type="text/css" href="../../static/css/xadmin.css"/>
        	<link rel="stylesheet" type="text/css" href="../../static/css/layer.css"/>


        <script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

        <script src="../../static/js/xadmin.js" type="text/javascript" charset="utf-8"></script>
     <script src="../../static/js/layer.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <style type="text/css">
    	#layerDemo{
    		float: left;
    	}
        .layui-col-md4{
            background-color: #fff;
        }

    </style>
    <body>
    <div style="text-align: center;margin-top:30px;font-size: 20px;">添加实验报告</div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md8">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            分数：100
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                                <thead>
                                <tr>

                                    <th>报告序号</th>
                                    <th>报告描述</th>
                                    <th>实验模块</th>
                                    <th>分数</th>
                                    <th>类型</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr th:each="report:${addReport}">
                                      <td th:text="${report.reportOrder}" name="reportOrder">1</td>
                                      <td th:text="${report.reportDescribe}" name="reportDescribe">会员相关</td>
                                      <td th:text="${report.mId}" name="mId">会员相关</td>
                                      <td th:text="${report.reportScore}" name="reportScore">会员相关</td>
                                      <td th:text="${report.reportType}" name="reportType">会员相关</td>
                                    <td class="td-manage">
                                    <a th:href="@{|updateReport/${report.reportId}|}">
										 <button class="layui-btn" onclick="xadmin.open('修改成功','./updatePart.html')">
                                             修改
			                            </button>
                                    </a>
                                      <a title="删除" onclick="member_del(this,'修改成功')" th:href="@{|/shiyan/deleteReport/${report.reportId}|}">
                                        <button type="layui-btn" class="layui-btn layui-btn-primary">删除</button>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                                <div>
                                  <a class="prev" href="">&lt;&lt;</a>
                                  <a class="num" href="">1</a>
                                  <span class="current">2</span>
                                  <a class="num" href="">3</a>
                                  <a class="num" href="">489</a>
                                  <a class="next" href="">&gt;&gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
					    <div class="layui-input-block">
					    	<button type="reset" class="layui-btn layui-btn-primary">取消</button>
					      <button class="layui-btn" lay-submit lay-filter="formDemo">完成</button>
					    </div>
					</div>
                </div>
                <div class="layui-col-md4">
                	<form class="layui-form"  th:action="@{/shiyan/addReport}" method="post" th:object="${addReport}">

                            <div class="layui-form-item">
                            <label class="layui-form-label">报告序号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="reportOrder" lay-verify="title" autocomplete="off"
                                       placeholder="请输入报告序号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">描述：</label>
                            <div class="layui-input-block">
                                <textarea name="reportDescribe" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">实验模块：</label>
                            <div class="layui-input-block">
                                <input type="text" name="mId" lay-verify="title" autocomplete="off" placeholder="请输入实验序号"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">分数：</label>
                            <div class="layui-input-block">
                                <input type="text" name="reportScore" lay-verify="title" autocomplete="off" placeholder="请设定分数"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-block">
                                <input type="radio" name="reportType" checked="checked" value="填空" title="填空">
                                <input type="radio" name="reportType" value="整篇" title="整篇">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">

                                <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>

                            </div>
                        </div>

					</form>
                </div>
            </div>
        </div>
    </body>
    <!--<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>



</html>