<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="UTF-8">
    <title>修改整体模块测试</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/layui.css"/>

</head>
<style type="text/css">
    .layui-row {
        padding: 3% 0;
    }
    h2{
        text-align: center;
        margin-top: 20px;
    }
    .text-overflow {
        display:block;/*内联对象需加*/
        width:31em;/*指定宽度*/
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 强制在同一行内显示所有文本，直到文本结束或者遭遇 br 对象。不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* IE 专有属性，当对象内文本溢出时显示省略标记() ；需与overflow:hidden;一起使用。*/
    }

    table{
        width:30em;
        table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
    }
    .layui-table th{
        text-align: center;
        font-weight: 900;
    }
    td{
        text-align: center;
        width:100%;
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记() ；需与overflow:hidden;一起使用。*/
    }
    .p1{
        margin: 1rem auto 1rem 7rem;
        color: #009688;
        font-size: 16px;
        font-weight: 600;
    }
</style>


<body>
<h2>修改整体测试题</h2>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md6">
        <!--<form class="layui-form" action="">	-->
        <form class="layui-form" method="post" th:object="${UpLastQuest}">
            <div class="layui-form-item">
                <label class="layui-form-label">题目</label>
                <div class="layui-input-block">
                    <input type="text" name="questDescribe" th:value="${UpLastQuest.questDescribe}" required
                           lay-verify="required" autocomplete="off" class="layui-input"/>
                    <!--<input type="text" name="title" required lay-verify="required" placeholder="请输入题目" autocomplete="off" class="layui-input">-->
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">问题序号</label>
                <div class="layui-input-block">
                    <input type="text" name="questOrder" th:value="${UpLastQuest.questOrder}" required lay-verify="required|number"
                           placeholder="1" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">分数</label>
                <div class="layui-input-block">
                    <input type="text" name="questScore" th:value="${UpLastQuest.questScore}" required lay-verify="required|number"
                           placeholder="100" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="questType" th:field="${UpLastQuest.questType}" value="单选" title="单选">
                    <input type="radio" name="questType" th:field="${UpLastQuest.questType}" value="多选" title="多选">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">答案</label>
                <div class="layui-input-block">
                    <input type="text" name="questAnswer" th:value="${UpLastQuest.questAnswer}" required
                           lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <p class="p1" th:text="${session.errorInformation}"></p>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a href="lookLastTest.html" th:href="@{|/shiyan/lastTestList|}" class="layui-btn layui-btn-primary">返回</a>
                    <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
                </div>
            </div>

        </form>

    </div>

    <div class="layui-col-md5">


            <div class="layui-form-item">
                <label class="layui-form-label">选项</label>
                <div class="layui-input-block content">
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" name="" lay-skin="primary">
                                </th>
                                <th>选项</th>
                                <th>内容</th>
                                <th>操作</th>
                            </thead>
                            <tbody>
                            <form>
                                <tr th:each="answer:${UpLastAnswer}">
                                    <td>
                                        <input type="checkbox" name="answerId" lay-skin="primary">
                                    </td>
                                    <td th:text="${answer.answerOrder}" name="answerOrder">
                                        <!--<input th:text="${answer.answerOrder}" name="answerOrder" required lay-verify="required" placeholder="A" autocomplete="off" class="layui-input">-->
                                    </td>
                                    <td th:text="${answer.answerDescribe}" name="answerDescribe">
                                        <!--<input th:text="${answer.answerDescribe}" name="answerDescribe" required lay-verify="required" autocomplete="off" class="layui-input">-->
                                    </td>

                                    <td class="td-manage">
                                        <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;"
                                           th:href="@{|/shiyan/deleteLastUpAnswer/${answer.answerId}|}">
                                            <button type="button" class="layui-btn">删除</button>
                                        </a>
                                        <!--<a title="修改" onclick="member_del(this,'要修改的id')" href="javascript:;" th:href="@{|updateAnswer/${answer.answerId}|}" >-->
                                        <!--<button type="button" class="layui-btn">修改</button>-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        <form class="layui-form" method="post" th:action="@{|/shiyan/upLastAnswer/${qid}|}"  >
        <div class="layui-form-item">
                <label class="layui-form-label">序号</label>
                <div class="layui-input-block">
                    <input type="text" required lay-verify="required|number" name="answerOrder" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <textarea name="answerDescribe" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-primary" lay-submit >增加选项</button>
                </div>
            </div>
        </form>


    </div>
</div>

<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>

<!--<script>-->
<!--//Demo-->
<!--layui.use('form', function(){-->
<!--var form = layui.form;-->

<!--//监听提交-->
<!--form.on('submit(formDemo)', function(data){-->
<!--layer.msg(JSON.stringify(data.field));-->
<!--return false;-->
<!--});-->
<!--});-->
<!--</script>-->
</body>

</html>