<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='后台管理'">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:include="role/inc :: head"></div>
<div id="content">
    <table width="800" cellspacing="0" cellPadding="0" id="listTable" border="1">
        <thead>
        <tr>
            <td>角色标识</td>
            <td>角色名称</td>
            <td>角色sn</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role:${roles}">
            <td th:text="${role.id}"></td>
            <td th:text="${role.name }">
            <td th:text="${role.sn }"></td>
            <td>
                <a th:href="@{|update/${role.id }|}" class="list_op">更新</a>
                &nbsp;<a th:href="@{|listRes/${role.id }|}" class="list_op">查询管理资源</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>