<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../static/css/css_shiyan/style.css"/>
    <link rel="stylesheet" type="text/css" href=""/>
</head>
<script type="text/javascript">

    // 将多选checkbox提交的数据拼接成字符串格式提交
    var checkstr = "";
    $("input[type='checkbox']:checked").each(function (i) {
        if (i != 0) {    //将所选的各项记录的id形成字符串，并以“，”分割
            checkstr += ",";
        }
        checkstr += $(this).val();
        alert(checkstr);
        document.getElementById("checkbox1").value = checkstr
        $("#checkbox1").attr("value", checkstr)
    });

</script>
<body>
<div id="left_nav">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
        <li class="layui-nav-item">
            <a href="#">首页</a>
        </li>
        <li class="layui-nav-item ">
            <a href="javascript:;">实验大厅</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="index.html">考核实验</a>
                </dd>
                <dd>
                    <a href="all-test.html">全部实验</a>
                </dd>

            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">理论测试</a>
            <dl class="layui-nav-child">
                <dd class="layui-this">
                    <a href="lilunceshi.html">理论测试</a>
                </dd>

            </dl>

        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">查看实验成绩</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="grade.html">实验成绩汇总</a>
                </dd>

            </dl>
        </li>
        <li class="layui-nav-item ">
            <a href="javascript:;">帮助中心</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="jieshao.html">仿真实验介绍</a>
                </dd>
                <dd>
                    <a href="team.html">关于我们</a>
                </dd>

            </dl>
        </li>
    </ul>
</div>
<div id="nav_crumb" class="layui-col-xs10 layui-col-xs-offset2">
		<span class="layui-breadcrumb layui-col-xs3">
			  <a href="/">首页</a>
            <!--<a href="/demo/">演示</a>-->
			  <a>理论测试</a>
			  <a><cite>测试界面</cite></a>
		</span>
    <span class="information layui-col-xs2  layui-col-xs-offset5">
			<a href="lilunceshi.html">返回上一级</a>
		</span>
    <span class="information layui-col-xs2">
			<p class="layui-col-xs7">test</p>
			<a href="change.html">
				<img src="../../static/images/img_shiyan/logo1.png" class="layui-col-xs5 inf_img">
			</a>
		</span>
</div>
<hr>


<div class="test layui-col-xs8 layui-col-xs-offset2">
    <h2 align="center"><strong>测试检验</strong></h2><br><br>

    <form class="layui-form layui-form-pane" action="">
        <h3>单选题(共六十分)</h3><br>

        <div class="layui-form-item layui-form-text" th:each="m,iterStat:${radioQuestionsList}">
            <label class="layui-form-label"
                   th:text="${iterStat.index+1}+'.'+ ${m.quest_describe}+'('+${m.quest_score}+'分)'">1.下述概念中不属于面向对象方法的是(20分)</label>
            <div class="layui-input-block" th:each="n:${radioQuestionsList.answers}">
                <input type="radio" th:name="${n.answerId}" th:value="A" th:text="${n.answer_describe}">
            </div>
        </div>


        <h3>多选题(共四十分)</h3><br>

        <div class="layui-form-item layui-form-text" th:each="m1,iterStat:${checkboxQuestionsList}">
            <label class="layui-form-label"
                   th:text="${iterStat.index+1}+'.'+ ${m1.quest_describe}+'('+${m1.quest_score}+'分)'">1.在Java接口中，下列选项中有效的方法声明是？(20分)</label>
            <div class="layui-input-block" th:each="n1:${checkboxQuestionsList.answers}">
                <input type="checkbox" th:name="${n1.answerId}" th:title="${n1.answer_describe}" lay-skin="primary">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>


<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>