<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="../../static/css/layui.css" media="all">
		<link rel="stylesheet" type="text/css" href="../../static/css/css_shiyan/style.css" />
		<link rel="stylesheet" type="text/css" href="" />
	</head>

	<body>
		<div id="left_nav">
			<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
				<li class="layui-nav-item">
					<a href="../home_page/index.html">首页</a>
				</li>
				<li class="layui-nav-item ">
					<a href="javascript:;">实验大厅</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="index.html">考核实验</a>
						</dd>
						<dd>
							<a href="all-test.html">全部实验</a>
						</dd>

					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">理论测试</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="ceshi.html">理论测试</a>
						</dd>

					</dl>


				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">查看实验成绩</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="grade.html">实验成绩汇总</a>
						</dd>

					</dl>
				</li>
				<li class="layui-nav-item ">
					<a href="javascript:;">帮助中心</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="jieshao.html">仿真实验介绍</a>
						</dd>
						<dd>
							<a href="team.html">关于我们</a>
						</dd>

					</dl>
				</li>
			</ul>
		</div>
		<div id="nav_crumb" class="layui-col-xs10 layui-col-xs-offset2">
			<span class="layui-breadcrumb layui-col-xs3">
  				<a href="/">首页</a>
  				<!--<a href="/demo/">演示</a>-->
				  <a>考核实验</a>
				  <a><cite>填写报告</cite></a>
			</span>
			<span class="information layui-col-xs2  layui-col-xs-offset5">
				<a href="index.html">返回上一级</a>
			</span>
			<span class="information layui-col-xs2">
				<p class="layui-col-xs7">test</p>
				<a href="change.html">
					<img src="../../static/images/img_shiyan/logo1.png" class="layui-col-xs5 inf_img">
				</a>
			</span>
		</div>
		<hr>

		<div class="test layui-col-xs8 layui-col-xs-offset2">
			<h2 align="center"><strong>填写报告</strong></h2><br><br>

			<form class="layui-form layui-form-pane" action="">

				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">1.Java语言的主要特点有</label>
					<div class="layui-input-block" id="app1">
						<!--<textarea placeholder="请输入内容" class="layui-textarea"></textarea>-->
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">2.说说你对java接口和继承的理解</label>
					<div class="layui-input-block" id="app2">
						
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">3.Java中哪个类提供了随机访问文件的功能</label>
					<div class="layui-input-block" id="app3">
						
					</div>
				</div>
					
				<div class="layui-form-item layui-form-text" style="margin-top: 100px;">
					<hr />
					<div><h2><b>简洁模式填写实验报告:</b></h2></div>
					<div id="app4" style="margin-top: 30px;">

					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>

		<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../static/js/wangEditor.js"></script>
	    <script type="text/javascript">
	        var E = window.wangEditor
	        var editor1 = new E('#app1');
	        var editor2 = new E('#app2');
	        var editor3 = new E('#app3');
			var editor4 = new E('#app4');
	        // 或者 var editor = new E( document.getElementById('editor') )
	        editor1.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
	        editor2.customConfig.uploadImgShowBase64 = true
	        editor3.customConfig.uploadImgShowBase64 = true
			editor4.customConfig.uploadImgShowBase64 = true
	        editor1.create()
	        editor2.create()
	        editor3.create()
			editor4.create()
	    </script>
	</body>

</html>