<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>关于我们</title>
	<link rel="stylesheet" href="../../static/css/layui.css">


</head>
<style type="text/css">
	#head{
		margin-top: 30px;
	}
	#main{
		margin-top: 30px;
		padding: 10px;
		border: 1px black solid;
	}
	#d{
		margin: 10px;
		text-align: right;
	}
	.toolbar {
		border: 1px solid #ccc;
	}
	.text {
		border: 1px solid #ccc;
		height: 400px;
	}
</style>
<body>
<!--<div id="head" class="layui-col-md10 layui-col-md-offset2">-->
<!--			<span class="layui-col-md3">-->
<!--  				<a class="layui-btn layui-btn-primary" href="#">首页设置</a>-->
<!--  				<a class="layui-btn" href="#">关于我们</a>-->
<!--			</span>-->
<!--</div>-->

<form method="post" action="" th:object="${setInfo}">
	<div id="main" class="layui-container">
		<div style="padding: 10px 0; text-align: center; color: black"><b>关于我们</b></div>
		<div><b th:text="${msg}" style="color:red"></b></div>
		<!--		富文本编辑器的html代码开始-->
		<script id="editor" name="set_aboutus" th:utext="${setInfo.set_aboutus}" type="text/plain">
		</script>
		<!--		富文本编辑器的html代码结束-->
		<div id="d" class="layui-btn-container">
			<input type="submit" class="layui-btn" value="确认修改">
			<!--					<button type="button" class="layui-btn">删除</button>-->
		</div>
	</div>
</form>


<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/ueditor/ueditor.config.js}"></script>
<script th:src="@{/ueditor/ueditor.all.min.js}"></script>
<script th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
<script>
	var editor1 = new UE.ui.Editor({ initialFrameHeight:300 });  //设置富文本编辑器的高度
	editor1.render("editor");
	// UE.getEditor('editor');
</script>
</body>
</html>
