
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>答疑详情</title>
    <link rel="stylesheet" href="../../static/css/layui.css">
</head>
<style type="text/css">
    /*div{*/
    /*	margin: 10px;*/
    /*}*/
    #head{
        margin-top: 30px;
    }
    #main{
        margin-top: 30px;
        padding: 10px;
        border: 1px black solid;
    }
    #d{
        margin: 10px;
        text-align: right;
    }
    .toolbar {
        border: 1px solid #ccc;
    }
    .text {
        border: 1px solid #ccc;
        height: 400px;
    }
    #name{
        margin-top: 30px;
    }
    .table0{
        width: 71%;
        margin: 0 auto;
        /*border: 1px solid black;*/
        margin-bottom: 25px;
        line-height: 57px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 16px;
    }
</style>
<body>
<!--		<div id="name" class="layui-col-md8 layui-col-md-offset2">-->
<!--			<div class="layui-col-md4" style="text-align: left;">-->
<!--            	学生姓名：-->
<!--                <a th:text="${username}"></a>-->
<!--            </div>-->
<!--            <div class="layui-col-md4" style="text-align: right;">-->
<!--                                提问时间：-->
<!--                <a th:text="${question.dic_datetime}"></a>-->
<!--            </div>-->
<!--		</div>-->
<div>
    <div class="table0">
        <div>
            <div style="height: 20px;width: auto;position: relative;top: 20px;left:19% ;">
                <p>问题：<a th:utext="${question.content}" ></a></p>

            </div>
            <div style="height:auto;width: auto;">
                <p style="float: left;">提问人：</p>
                <a style="float: left" th:text="${studentName}"></a>
            </div>
            <div>
                <a style="padding-right: 12px;float: right;" th:text="${question.dic_datetime}"></a>
                <p style="float: right;">提问时间：</p>
            </div>
        </div>
    </div>
    <!--<div>
        <p style="">问题：<a th:utext="${question.content}" ></a></p>

    </div>-->
</div>


<div class="layui-col-md10 layui-col-md-offset1">
    <!--			<div style="text-align: left;">-->
    <!--    		    <label class="layui-form-label">问题：</label>-->
    <!--    		    <div class="layui-input-block">-->
    <!--                    <a  th:text="${question.content}" lay-verify="title" autocomplete="off" ></a>-->
    <!--                    &lt;!&ndash;<input type="text" name="title" placeholder="请输入标题" class="layui-input">&ndash;&gt;-->
    <!--    		    </div>-->
    <!--  		    </div>-->

    <div>
        <form th:action="'/reply/' + ${reply.id} + '/update'" method="post" th:each="reply:${replies}">

            <hr/>

            <p style="text-align: left; margin: 10px; float: left;">回复人:<a type="text" th:text="${reply.reply_pname}"></a></p>
            <p style="text-align: right; margin: 10px; float: right;">回复时间:<a type="text" th:text="${reply.dic_datetime}"></a></p>

            <div>
                <button type="submit" class="layui-btn layui-btn-primary layui-btn-sm">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <a type="button" th:href="'/reply/' + ${reply.id} + '/delete'" class="layui-btn layui-btn-primary layui-btn-sm">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </div>

            <label class="layui-form-label" >回复内容：</label>
            <div>
                <script th:id="'editor' + ${reply.id}" name="content" th:utext="${reply.content}" type="text/plain">
                </script>
            </div>
        </form>
    </div>

    <div style="margin-top: 50px; margin-left: 5%;">
        <form th:action="'/reply/' + ${question.id} + '/add1'" method="post">
            <span style="font-weight: bold">进行新增回复:</span>
            <script id="editors" name="content"type="text/plain">
            </script>
<!--            <input type="submit" value="提交">-->
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:0px;margin-top: 18px;">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!--		<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>-->
<!--		<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>-->
<!--		<script src="../../static/js/wangEditor.js" type="text/javascript" charset="utf-8"></script>-->
<script th:src="@{/ueditor/ueditor.config.js}"></script>
<script th:src="@{/ueditor/ueditor.all.min.js}"></script>
<script th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
<script th:inline="javascript" th:each="reply:${replies}">
    UE.getEditor('editor' + [[${reply.id}]]);
</script>
<script th:inline="javascript">
    var editor = new UE.ui.Editor({ initialFrameHeight:600,initialFrameWidth:800 });
    editor.render("editors");
</script>
<!--		<script type="text/javascript">-->
<!--        var E = window.wangEditor-->

<!--        var editor1 = new E('#div1')-->
<!--        editor1.create()-->

<!--        var editor2 = new E('#div2')-->
<!--        editor2.create()-->
<!--        -->
<!--        var editor3 = new E('#div3')-->
<!--        editor3.create()-->
<!--        </script>-->
</body>
</html>
