<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>平台公告发布</title>

	<link rel="stylesheet" type="text/css" href="../../static/css/layui.css" />
<!--	<link rel="stylesheet" type="text/css" href="../../static/css/notice.css" />-->
	<style>
		.layui-breadcrumb{
			margin: 5%;
		}
		#editor{
			margin-left: 11%;
			margin-bottom: 30px;
			margin-top: -43px;
		}
		.layui-input{
			width: 50%;
		}
		.layui-form-label{
			font-weight: bold;
		}
	</style>
</head>
<style>
	.layui-table th {
		text-align: left;
		font-weight: 900;
	}
</style>
<body>
<div class="layui-container">
<!--	<img src="../../static/images/LOGO2.png">-->
	<br><br>
<!--	<span class="layui-breadcrumb">-->
<!--  			<a href="/">首页</a>-->
<!--  			<a href="/demo/">轮播公告</a>-->
<!--  			<a><cite>公告添加</cite></a>-->
<!--			</span>			<br><br><br>-->


	<!--标题-->
	<form class="layui-form" th:action="@{update}" th:object="${newsInfo}" method="post">
		<div class="layui-form-item">
			<label class="layui-form-label">标题</label>
			<div class="layui-input-block">
				<input type="text" name="news_name" th:value="${newsInfo.news_name}" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label" >内容</label>

		</div>

		<!--		富文本编辑器的html代码开始-->
		<script id="editor" name="content" th:utext="${newsInfo.content}" type="text/plain">
		</script>
		<!--		富文本编辑器的html代码结束-->

		<div class="layui-form-item" style="margin-top: 1%;">
			<label class="layui-form-label">发布人</label>
			<div class="layui-input-block">
				<input type="text" name="news_person" th:value="${newsInfo.news_person}" lay-verify="id" placeholder="" autocomplete="off" class="layui-input" style="width: 20%;">
			</div>
		</div>


		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">发布</button>
				<button type="return" class="layui-btn layui-btn-primary">返回</button>
			</div>
		</div>
	</form>




</div>






<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
<!--<script type="text/javascript" src="js/wangEditor.min.js"></script>-->
<script th:src="@{/ueditor/ueditor.config.js}"></script>
<script th:src="@{/ueditor/ueditor.all.min.js}"></script>
<script th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
<script>
	var editor = new UE.ui.Editor({ initialFrameHeight:300,initialFrameWidth:626 });   //设置富文本编辑器的高度和宽度
	editor.render("editor");
</script>

<script type="text/javascript">

	var E = window.wangEditor
	var editor = new E('#editor')
	// 或者 var editor = new E( document.getElementById('editor') )
	editor.create()
</script>

<script>
	layui.use(['form', 'layedit', 'laydate'], function(){
		var form = layui.form
				,layer = layui.layer
				,layedit = layui.layedit
				,laydate = layui.laydate;

		//日期
		laydate.render({
			elem: '#date'
		});
		laydate.render({
			elem: '#date1'
		});

		//创建一个编辑器
		var editIndex = layedit.build('LAY_demo_editor');

		//自定义验证规则
		form.verify({
			title: function(value){
				if(value.length < 5){
					return '标题至少得5个字符啊';
				}
			}
			,pass: [
				/^[\S]{6,12}$/
				,'密码必须6到12位，且不能出现空格'
			]
			,content: function(value){
				layedit.sync(editIndex);
			}
		});

		//监听指定开关
		form.on('switch(switchTest)', function(data){
			layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
				offset: '6px'
			});
			layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
		});

		//监听提交
		form.on('submit(demo1)', function(data){
			layer.alert(JSON.stringify(data.field), {
				title: '最终的提交信息'
			})
			return false;
		});

		//表单赋值
		layui.$('#LAY-component-form-setval').on('click', function(){
			form.val('example', {
				"username": "贤心" // "name": "value"
				,"password": "123456"
				,"interest": 1
				,"like[write]": true //复选框选中状态
				,"close": true //开关状态
				,"sex": "女"
				,"desc": "我爱 layui"
			});
		});

		//表单取值
		layui.$('#LAY-component-form-getval').on('click', function(){
			var data = form.val('example');
			alert(JSON.stringify(data));
		});

	});
</script>
</body>

</html>