<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>教师账号管理</title>		
		<link rel="stylesheet" href="../../static/css/layui.css">
	</head>
	<style type="text/css">	
					
	</style>
	<body>
		<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">教师账号</li>
                <li>管理界面</li>
            </ul>
            <div class="layui-tab-content">
            	<div class="layui-tab-item layui-show">
    	            <div id="l1" class="layui-col-md8 layui-col-md-offset2">
    	            	<div class="layui-form-item">
                            <label class="layui-form-label">账号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码：</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        
                        <div class="layui-btn-container" style="text-align: center;">
                            <button type="button" class="layui-btn">修改</button>
                            <button type="button" class="layui-btn">返回</button>
                        </div>
    	            </div>
                </div>
                <div class="layui-tab-item">
                	<div id="l2" class="layui-col-md8 layui-col-md-offset2">
    	            	<table class="layui-table" lay-even lay-skin="nob">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>账号</th>
                                    <th>密码</th>
                                    <th>手机号</th> 
                                    <th>操作</th> 
                                </tr> 
                            </thead>
                            <tbody>
                                <tr>
                    	            <td>01</td>
                                    <td>010101</td>
                                    <td>vmsh</td>
                                    <td>1663875</td>
                                    <td>
                        	            <div class="layui-btn-group">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
                                                <i class="layui-icon">&#xe642;</i>
                                            </button>
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
                                                <i class="layui-icon">&#xe640;</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>020202</td>
                                    <td>vsuifbia</td>
                                    <td>012494387</td>
                                    <td>
                        	            <div class="layui-btn-group">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
                                                <i class="layui-icon">&#xe642;</i>
                                            </button>
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
                                                <i class="layui-icon">&#xe640;</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div id="b2" class="layui-btn-group" style="text-align: right;">
                            <button type="button" class="layui-icon-prev">
                            	<i class="layui-icon">&#xe65a;</i>
                            </button> 
                            <button type="button" class="layui-icon-next">
                            	<i class="layui-icon">&#xe65b;</i>
                            </button>                          
                        </div>
    	            </div>
                </div>        
            </div>
        </div>      
			
		
		<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
