<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>教师账号修改</title>
		<link rel="stylesheet" href="../../static/css/layui.css">
	</head>
    <style type="text/css">
        #b{
            float: right;
            margin: 10px 0;
        }
        .layui-input-block input{
            width: 60%;
        }
        .layui-btn-container{
           float: left;
            margin-left: 15%;
        }
    </style>
	<body>
		<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
<!--            <ul class="layui-tab-title">-->
<!--                <li class="layui-this">教师账号修改</li>-->
<!--            </ul>-->

            <form style="margin-top: 43px" th:action="@{update}" th:object="${admin}" method="post">
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show" >
                        <div id="l1" class="layui-col-md8 layui-col-md-offset2">
                            <div class="layui-form-item">
                                <label class="layui-form-label">账号：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="uname" th:value="${admin.uname}" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="password" th:value="${admin.password}" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">手机号：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="mobile" th:value="${admin.mobile}" required  lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-btn-container" style="text-align: center;">
                                <button type="submit" class="layui-btn">修改</button>
                                <a type="button" onclick="Javascript:history.back(-1);" href="#" class="layui-btn">返回</a>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>      
			
		
		<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/layui.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
